* {
  box-sizing: border-box;
}

body {
  background-color: #2184fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: #ffffff;
  color: #2C2E2F;
  border-radius:8px;
  border-color: #D1D4D6;
  border-width:1px;
  padding:24px;
  font-family:roboto;
  resize:none;
}

.title {
  font-size: 20pt;
  font-family: roboto;
  color:#2c2e2f;
  margin-top:0px;
}

.subtitle {
  font-size:14pt;
  font-family: roboto;
  color: #2c2e2f;
  line-height: 2;
}

#submit-button {
  border-radius:8px;
  padding:11px 24px 9px 24px;
  font-size:16px;
  line-height:20pt;
  font-family:roboto, sans-serif;
  font-weight:500;
  letter-spacing:0.5px;
  background-color:#3184fc;
  color:#ffffff;
  margin-top:24px;
  border:none;
  cursor: pointer;
}

#submit-button:not(:disabled):hover {
  background-color:#297de2;
}

#submit-button:active {
  background-color:#2473d1;
}

#submit-button:disabled {
  background-color: #D1D4D6;
}

#submit-button-2 {
  border-radius:8px;
  padding:11px 24px 9px 24px;
  font-size:16px;
  line-height:20pt;
  font-family:roboto, sans-serif;
  font-weight:500;
  letter-spacing:0.5px;
  background-color:#3184fc;
  color:#ffffff;
  margin-top:24px;
  border:none;
  cursor: pointer;
}

#submit-button-2:not(:disabled):hover {
  background-color:#297de2;
}

#submit-button-2:active {
  background-color:#2473d1;
}

#submit-button-2:disabled {
  background-color: #D1D4D6;
}

.mode-switcher {
  border-radius:8px;
  padding:11px 24px 9px 24px;
  font-size:16px;
  line-height:20pt;
  font-family:roboto, sans-serif;
  font-weight:500;
  letter-spacing:0.5px;
  background-color:#E5E8EB;
  color:#2C2E2F;
  margin-top:24px;
  border:none;
  cursor: pointer;
}

.modal {
  background-color:#ffffff;
  max-width:780px;
  width: 100%;
  padding:32px;
  border-radius:8px;
  box-shadow: 0px 2px 4px rgba(21, 21, 22, 0.2);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#output-hider {
  margin-top: 24px;
}

.advanced-toggle {
  display:none;
}

#copy-button {
  border-radius:8px;
  padding:11px 24px 9px 24px;
  font-size:16px;
  line-height:20pt;
  font-family:roboto, sans-serif;
  font-weight:500;
  letter-spacing:0.5px;
  background-color:#1DCDA3;
  color:#ffffff;
  margin-top:24px;
  border:none;
  cursor: pointer;
  margin-right:12px;
}

#copy-button:hover {
  background-color: grey;
}

#copy-button:not(:disabled):hover {
  background-color:#1BC29A;
}

#copy-button:active {
  background-color:#2CD3AB;
}

#copy-button:disabled {
  background-color: #D1D4D6;
}

#copy-button-content.clicked::after {
 content: "Copied!";
}

#copy-button-content::after {
  content: "Copy";
}

#submit-button-content.clicked::after {
  content: "Downloading";
 }
 
 #submit-button-content::after {
   content: "Submit";
 }

 #submit-button-content.fail::after {
  content: "Error! Check your SVG code is correct";
 }

 #submit-button-2-content.clicked::after {
  content: "Downloading";
 }
 
 #submit-button-2-content::after {
   content: "Submit";
 }

 #submit-button-2-content.fail::after {
  content: "Error! Check your SVG code is correct";
 }

.fail {
  background-color: #E64826 !important;
}

.container {
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin-top: 24px;
  color: #fff;
  text-align: center;
  width:100%;
  line-height: 1.6;
  font-family:roboto;
}
