* {
  box-sizing: border-box;
}

html,body {
  background-color: #2184fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: #ffffff;
  color: #2C2E2F;
  border-radius:8px;
  border-color: #D1D4D6;
  border-width:1px;
  padding:24px;
  font-family:roboto;
  resize:none;
}

.title {
  font-size: 20pt;
  font-family: roboto;
  color:#2c2e2f;
  margin-top:0px;
}

.subtitle {
  font-size:14pt;
  font-family: roboto;
  color: #2c2e2f;
  line-height: 2;
}

.inputs {
  display:flex;
  justify-content: space-between;
}

.area {
  width: 50%;
}

.input-area {
  padding-right: 12px;
}

.output-area {
  padding-left: 12px;
}

.button {
  border-radius:8px;
  padding:10px 24px 10px 24px;
  font-size:16px;
  line-height:20pt;
  font-family:roboto, sans-serif;
  font-weight:500;
  letter-spacing:0.5px;
  background-color:#3184fc;
  color:#ffffff;
  margin-top:24px;
  border:none;
  cursor: pointer;
}

.button:hover {
  background-color:#297de2 !important;
}

.button:active {
  background-color:#2473d1 !important;
}

.modal {
  background-color:#ffffff;
  max-width:725px;
  width: 100%;
  padding:32px;
  border-radius:8px;
  box-shadow: 0px 2px 4px rgba(21, 21, 22, 0.2);
}
